.emailSectionContainer {
  display: flex;
  align-items: flex-start;
  background: white;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  max-width: 600px;
}

.iconContainer {
  background: #1264a314;
  border-radius: 6px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}
.icon {
  color: #1264a3;
  font-size: 20px;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 16px;
  font-weight: bold;
  /* margin: 0; */
}

.description {
  font-size: 14px;
  color: #606770;
  margin: 4px 0 0;
}
