.sidebar {
  background-color: var(--secondary-color);
  min-width: 250px;
  max-width: 250px;
  height: 100vh;
  color: var(--sidebar-text-color);
  flex: 0.3;
  /* position: relative; */
  overflow: scroll;
}

.sidebar > hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--primary-color);
}

.sidebar__Navbar {
  align-items: center;
  position: sticky;
  z-index: 10;
  top: 0;
}

.create_icon {
  padding: 8px;
  color: var(--primary-color);
  font-size: 18px;
  background-color: var(--active-color);
  border-radius: 999px;
  cursor: pointer;
}

.sidebar__info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* flex: 1; */
  background-color: var(--secondary-color);
  padding: 10px;
}

.sidebar__info > h2 {
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 5px;
  color: var(--active-color);
}

/* .sidebar__info > h3 {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
  }

  .sidebar__info > h3 > .MuiSvgIcon-root {
    font-size: 14px;
    margin-top: 1px;
    margin-right: 2px;
    color: green;
  } */

.sidebarOption {
  display: flex;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
  padding: 4px 2px;
}

.sidebarOption:hover {
  background-color: var(--sidebar-hover);
  /* opacity: 0.9; */
}

.icon {
  padding: 8px;
}
